Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- commonly used libraries in data science
- commonly used data science tools
- evaluating arithmetic expression in python
- converting minutes into hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Tenserflow

| Data Science Tools | 
| -------------| 
| MySql | 
| Pixie Dust | 
| git |

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
 # This a simple arithmetic expression to mutiply then add integers

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
min = 200
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

Hours= 3
Minutes= 20

## H2: Author
Umang Maheshwari